pre {
    font-size: 15px;
  }
  .red{
    color:rgb(177, 54, 54);font-size: 14px;
  }
  .blue{
    color:rgb(18, 67, 122);font-size: 16px;
  }
  #a{
   background-color: rgb(255, 255, 255)
  }
  h2{
    text-align: center; color:rgba(35, 37, 32, 0.658);
  }